<h1>Catálogo de Componentes</h1>

<div class="card mt-4 ml-4 mr-4">
  <div class="card-body">
    <h5 class="card-title">Componente botón</h5>
    <h6 class="card-subtitle mb-2 text-muted">
      &lt;app-button&gt;&lt;/app-button&gt;
    </h6>
    
    <p class="card-text mt-3 mb-4">
      Esta sería la descripción del componente. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex dolorum iusto dicta libero fugiat sunt nulla sit, officiis magni nihil blanditiis magnam labore atque ea cumque nobis perferendis laboriosam vitae.
    </p>
    
    <h6>Preview:</h6>
    <hr style="border: 1px solid lightseagreen;">
    <div class="container mt-5 mb-5">
   
      <div class="row">
        <div class="col-md-12">
          <app-button></app-button>
        </div>
      </div>
    </div>  
    
    <hr style="border: 1px solid lightseagreen;">
    <a href="#" class="card-link"> Ir a documentación </a>
    <a href="#" class="card-link"> Ver código </a>
  </div>
</div>
